body {
  font-family: Arial;
  padding: 30px;
}

.menu a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: #f2f2f2;
  width: 250px;
  text-decoration: none;
  color: black;
}

input, button {
  display: block;
  margin: 8px 0;
  padding: 6px;
}
